<div class='row text-left'>
  <h1>{{ displayName }}</h1>
</div>

<div class='row'>
  <div class='col-md-7 person-bio'>
    <p class='text-justify'>{{ description }}</p>
  </div>
  <div class='col-md-5 person-attributes'>
    <div class='label-row'>
      <label>Culture</label> {{ culture }}
    </div>

    <div class='label-row'>
      <label>Gender</label> {{ gender }}
    </div>

    <div class='label-row'>
      <label>URL</label> <a href='{{ website }}'>{{ website }}</a>
    </div>

  </div>
</div>

{{#if relationships.length }}
  {{> _relationships relationships }}
{{/if}}
