<div class="row">
  <div class="col-sm-6 col-md-8 text-center">
    {{> _images representations }}
  </div>

  <div class="col-sm-6 col-md-4 meta">
    <h1 class="artwork-title">{{ displayName }}</h1>

    <div class="text-muted">
      <h2 class="artist-name">
        {{#each artists }}
        {{> _relationshipLink this }}
        {{/each}}
      </h2>

      <p> {{ creationDate }} </p>
      <p> {{ workType }}     </p>
      <p> {{ material }}     </p>
      <p> {{ dimensions }}   </p>

      {{> _social_media }}

    </div> <!--end muted-->
  </div> <!--end col-sm-6-->
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    {{#if relationships.length }}
      <h4>Related:</h4>
      {{> _relationships relationships }}
    {{/if}}
  </div>
</div>
