{{#each this }}
  {{#with fullRecord }}
    <div class="media relationship">
      {{#if imgSrc }}
        <a class="pull-left" href="{{ url }}">
          <img class="media-object relationship-img" src="{{ imgSrc }}" alt="{{ displayName }}" />
        </a>
      {{/if}}

      <div class="media-body">
        <a href="{{ url }}">
          <h4 class="media-heading">{{ displayName }}</h4>
        </a>
        ({{ ../fullRelationship }})

        <div class="text-muted">
          <span class="artist-name">
            {{#each artists }}
            {{> _relationshipLink this }}
            {{/each}}
          </span>

          <p> {{ creationDate }} </p>
          <p> {{ workType }}     </p>
          <p> {{ material }}     </p>
          <p> {{ dimensions }}   </p>
        </div>

      </div>
    </div>
  {{/with}}
{{/each }}
