<h1><%= displayName %></h1>

<div class='row'>
  <%= addresses[0].address1 %>,
  <%= addresses[0].city %>
  <%= addresses[0].stateprovince %>
  <%= addresses[0].postalcode %>
  <%= addresses[0].country %>
</div>

<h4>Related:</h4>
<% include _relationships.html.ejs %>
